* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #3A4965;
    overflow-x: auto;
}

table {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    vertical-align: center;
    border: none;
    border-collapse: collapse;
    color: #484848;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #F2F2F2;
}

thead th {
    height: 101px;
    border-bottom: 9px solid #3A4965;
}

thead > tr > th:nth-child(even) {
    background: #E3E3E3;
}

thead > tr > th {
    color: #484848;
    width: 160px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 700;
}

tbody > tr > td:nth-child(even) {
    background: #E3E3E3;
}

i {
    color: #848484;
    font-weight: 400;
    font-size: 24px;
}

.pricing_plan {
    width: 198px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
}

.large_size {
    font-weight: 700;
    font-size: 20px;
    display: block;
}

.standard {
    height: 164px;
    background: #89C331;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.price_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.price {
    font-size: 36px;
}

.cent {
    font-size: 18px;
    position: relative;
    top: -7px;
}

.per_month {
    font-size: 14px;
}
button{
    width: 155px;
    height: 44px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #414141;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    box-shadow: inset 0 -5px 0 #343434;
    cursor: pointer;
}

.ultimate{
    height: 169px;
    background: #F04A56;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.premium {
    height: 168px;
    background: #20807C;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

tbody>tr>td{
    border-bottom: 2px solid #D6D6D6;
}
tbody>tr:last-child td{
    border-bottom: none;
}
