* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #3A4965;
    overflow-x: auto;
}

table {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    vertical-align: center;
    border: none;
    border-collapse: collapse;
    color: #484848;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

table tr:nth-child(even) {
    background: #E3E3E3;
}

table tr:nth-child(odd) {
    background: #F2F2F2;
}

tbody > tr > td {
    border-right: 1px solid #CACACA;
}

tbody > tr > td:last-child {
    border: none;
}

tbody > tr > th {
    border-right: 2px solid #CCCCCC;
}

.pricing_plan {
    color: #484848;
    font-weight: 700;
    font-size: 18px;
    width: 313px;
    height: 159px;
    background: #FAFAFA;
    border-right: 2px solid #DEDEDE;
}

.large_size {
    display: block;
    font-size: 30px;
}

.standard {
    width: 280px;
    height: 73px;
    background: #89C331;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.ultimate {
    width: 280px;
    height: 73px;
    background: #F04A56;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.premium {
    width: 280px;
    height: 73px;
    background: #20807C;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.price {
    background: #FAFAFA;
    font-weight: 700;
    font-size: 60px;
    color: #484848;
    position: relative;
    text-align: start;
    padding-left: 33px;
    height: 89px;
    border-right: 1px solid #DADADA;
}

.price:last-child {
    border: none;
}

.cent {
    font-size: 24px;
    position: absolute;
    top: 5px;
}

.price span {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
}

.storage {
    position: relative;
    width: 21px;
    height: 26px;
    top: 4px;
}

.bandwidth {
    position: relative;
    width: 27px;
    height: 28px;
    top: 5px;
}

.email {
    width: 26px;
    height: 22px;
}

.support {
    position: relative;
    width: 25px;
    height: 28px;
    top: 3px;
}

.products {
    position: relative;
    width: 24px;
    height: 25px;
    top: 3px;
}

.users {
    width: 28px;
    height: 28px;
}

.contain_svg {
    height: 72px;
}

.contain_svg_small {
    height: 69px;
}

tfoot {
    height: 109px;
}

tfoot th {
    background: #DDDDDD;
    border-right: 2px solid #C7C7C7;
}

tfoot td:nth-child(2) {
    background: #EEEEEE;
    border-right: 1px solid #C7C8CB;
}

tfoot td:nth-child(3) {
    background: #F4F4F4;
    border-right: 1px solid #D4D4D4;
}

tfoot td:last-child {
    background: #EEEEEE;
}

.contact_us {
    width: 192px;
    height: 52px;
    background: #484848;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    border: none;
    cursor: pointer;
}

.contact_us::before {
    content: '';
    position: absolute;
    width: 192px;
    height: 9px;
    background: #404040;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 2px 0 #C4C4C4;
    top: 42px;
    left: 0;
}

.buy_now {
    width: 192px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.buy_now_green {
    background: #89C331;
}

.buy_now_green::before {
    content: '';
    position: absolute;
    width: 192px;
    height: 9px;
    background: #79B027;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 2px 0 #C4C4C4;
    top: 42px;
    left: 0;
}

.buy_now_red {
    background: #F04A56;
}

.buy_now_red::before {
    content: '';
    position: absolute;
    width: 192px;
    height: 9px;
    background: #DF3A46;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 2px 0 #C4C4C4;
    top: 42px;
    left: 0;
}

.buy_now_blue {
    background: #20807C;
}

.buy_now_blue::before {
    content: '';
    position: absolute;
    width: 192px;
    height: 9px;
    background: #16736F;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 2px 0 #C4C4C4;
    top: 42px;
    left: 0;
}
